extends layout

block content
    .catalog
        .container
            block catalogTitle
                h1 <span>Катализатор</span> для BMW 3-серия E36

            .crumbs
                a(href='') Главная
                span.crumbs__arrow »
                .flex_row__between
                    .crumbs__search
                        button(type='button' class='toggler--js')
                        .content
                            form.search.search--loup
                                input(type='search' placeholder='Марка')
                                button(type='submit')
                            ul
                                li
                                    a(href='') Acura
                                li
                                    a(href='') Audi
                                li
                                    a(href='') BMW
                                li
                                    a(href='') Citroen
                                li
                                    a(href='') Chevrolet
                                li
                                    a(href='') Chery
                                li
                                    a(href='') Daewoo
                    a(href='') BMW
                span.crumbs__arrow »
                .flex_row__between
                    .crumbs__search
                        button(type='button' class='toggler--js')
                        .content
                            form.search.search--loup
                                input(type='search' placeholder='Марка')
                                button(type='submit')
                            ul
                                li
                                    a(href='') 1-серия
                                li
                                    a(href='') 2-серия

                    a(href='') 3-серия E36
                span.crumbs__arrow »
                a(class='current' href='') Катализатор



            .flex_row__between
                .catalog_left
                    .catalog_search
                        input(type='text' placeholder='Быстрый поиск')
                        button(type='submit')
                    .decor-useless
                    .accordion__wrap
                        .accordion
                            .accordion_title <i class='arrow'></i> Выхлопная система
                            .accordion_content
                                ul
                                    li
                                        a(href='') Болт подвески глушителя
                                    li
                                        a(href='') Задняя часть глушителя
                                    li(class='active')
                                        a(href='') Катализатор
                                    li
                                        a(href='') Бачок гидроусилителя
                                    li
                                        a(href='') Втулка рулевой рейки
                        .accordion
                            .accordion_title <i class='arrow'></i> Двигатель
                            .accordion_content
                                ul
                                    li
                                        a(href='') Болт подвески глушителя
                                    li
                                        a(href='') Задняя часть глушителя
                                    li(class='active')
                                        a(href='') Катализатор
                                    li
                                        a(href='') Бачок гидроусилителя
                                    li
                                        a(href='') Втулка рулевой рейки

                    //<div class="car-under-menu">
                        <img src="img/picture-car.png" alt="">
                    //</div>

                .catalog_right
                    block catalogRight