extends pug-components/template-catalog

block title
    title SPB Zapchasti - Каталог 1

block catalogTitle
    h1 Запчасти для BMW <span class='font-red'>3-серия E36</span>

block catalogRight
    .catalog_closed
        //img(class='catalog_right_imgbg' src='img/picture-bmw.jpg' alt='')
        .title BMW
            img(src='img/picture-car.png')
        .divider.left
            b 2004-2010
        .flex_row__between.img-left
            img(src='img/logo-bmw.jpg' alt='')
            p Инновационные и новейшие технологии.. Инновационные технологии в обычном салоне красоты с невысокими ценами? Вы серьезно? Для фена с новым видом поддува и какого-нибудь Разглаживателя морщин - 2000”который есть в каждом салоне, это слишком громкие слова.