extends pug-components/template-catalog

block title
    title SPB Zapchasti - Каталог 2

block catalogTitle
    h1 <span class='font-red'>Катализатор</span> для BMW 3-серия E36

block catalogRight
    .catalog_opened

        .catalog_item
            .catalog_title
                a(class='' href='') Катализатор
                <span> (В наличии 4 шт)</span>
            .flex_row__start
                .catalog_item__left
                    img(src='img/catalog_item.jpg' alt='')
                    span от <span class='font-red'>6000</span> руб.
                .catalog_item__right
                    .top
                        b Оригинальные номера:
                        p 345345345, 234245634, 23422344, DW4395y39485, 33423423, GD3434455

                        b Характеристики:
                        p 56 см, объем 1.6
                            div Количество труб - 4
                    .bottom
                        b Варианты:
                        .catalog_item__imgset
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')
        .catalog_item
            .catalog_title
                a(class='' href='') Катализатор
                <span> (В наличии 4 шт)</span>
            .flex_row__start
                .catalog_item__left
                    img(src='img/catalog_item.jpg' alt='')
                    span от <span class='font-red'>6000</span> руб.
                .catalog_item__right
                    .top
                        b Оригинальные номера:
                        p 345345345, 234245634, 23422344, DW4395y39485, 33423423, GD3434455

                        b Характеристики:
                        p 56 см, объем 1.6
                    .bottom
                        b Варианты:
                        .catalog_item__imgset
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')
        .catalog_item
            .catalog_title
                a(class='' href='') Катализатор
                <span> (В наличии 4 шт)</span>
            .flex_row__start
                .catalog_item__left
                    img(src='img/catalog_item.jpg' alt='')
                    span от <span class='font-red'>6000</span> руб.
                .catalog_item__right
                    .top
                        b Оригинальные номера:
                        p 345345345, 234245634, 23422344, DW4395y39485, 33423423, GD3434455

                        b Характеристики:
                        p 56 см, объем 1.6
                    .bottom
                        b Варианты:
                        .catalog_item__imgset
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')
                            img(src='img/catalog_item.jpg' alt='')